/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


// @import "./assets/css/common";

/******************************NG2-DRAGULA STARTS**********************************/

/* in-flight clone */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}
  
/* high-performance display:none; helper */
  
.gu-hide {
    left: -9999px !important;
}
  
/* added to mirrorContainer (default = body) while dragging */
  
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
  
/* added to the source element while its mirror is dragged */
  
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
  
/******************************NG2-DRAGULA ENDS************************************/
  
/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

._flex-box {
  display: flex !important;
  align-items: center;
}
._flex-1 {
  flex: 1;
}
._flex-50 {
  flex: 0.5;
}
._flex-25 {
  flex: 0.25;
}
._jc-sb {
  justify-content: space-between !important;
}
._jc-c {
  justify-content: center;
}
._jc-r{
  justify-content: right;
}
._va-top{
  align-items: flex-start;
}
._ai-c{
  align-items: center;
}
._p-10 {
  padding: 10px !important;
}
._p-0{
  padding: 0 !important;
}
._pt-0{
  padding-top: 0 !important;
}
._pt-5{
  padding-top: 5px !important;
}
._pt-10 {
  padding-top: 10px;
}
._pt-15 {
  padding-top: 15px;
}
._pr-10 {
  padding-right: 10px;
}
._pr-15 {
  padding-right: 15px;
}
._pr-20{
  padding-right: 20px;
}
._pl-10 {
  padding-left: 10px;
}
._pl-15 {
  padding-left: 15px;
}
._pl-20{
  padding-left: 20px !important;
}
._p-5 {
  padding: 5px;
}
._p-0 {
  padding: 0px;
}
._pb-0{
  padding-bottom: 0 !important;
}
._pb-5 {
  padding-bottom: 5px;
}
._pb-10 {
  padding-bottom: 10px;
}
._pb-15{
  padding-bottom: 15px;
}
._m-10{
  margin: 10px;
}
._m-0{
  margin: 0px;
}
._mr-20 {
  margin-right: 20px !important;
}
._mr-15 {
  margin-right: 15px !important;
}
._mr-10 {
  margin-right: 10px !important;
}
._mr-5{
  margin-right: 5px !important;
}
._mr-0{
  margin-right: 0 !important;
}
._ml-0{
  margin-left: 0 !important;
}
._ml-5{
  margin-left: 5px !important;
}
._ml-10 {
  margin-left: 10px !important;
}
._ml-15{
  margin-left: 15px !important;
}
._ml-20{
  margin-left: 20px;
}
._ml-25{
  margin-left: 25px;
}
._ml-30{
  margin-left: 30px;
}

._ml-35{
  margin-left: 35px;
}
._ml-40{
  margin-left: 40px;
}
._ml-45{
  margin-left: 45px;
}
._ml-65{
  margin-left: 65px;
}
._mt-10 {
  margin-top: 10px !important;
}
._mt-5 {
  margin-top: 5px !important;
}
._mt-15{
  margin-top: 15px !important;
}
._mt-20{
  margin-top: 20px !important;
}
._mt-40{
  margin-top: 40px !important;
}
._mb-20 {
  margin-bottom: 20px !important;
}
._mb-10 {
  margin-bottom: 10px !important;
}
._mb-5 {
  margin-bottom: 5px !important;
}
._mb-15{
  margin-bottom: 15px !important;
}

._mb-0{
  margin-bottom: 0 !important;
}

._heading_1 {
  font-weight: 500;
  font-size: 18px;
}
._sub-heading {
  font-weight: 500;
  font-size: 11px;
}
.secondary-text {
  font-size: 11px;
}
.create-btn {
//   background: #eeeeee;
//   color: #0091E5;
  font-size: 12px !important;
  font-weight: 500 !important;
  height: 32px;
  line-height: 32px;
  text-transform: capitalize;
  margin-left: 10px !important;
}
.custom-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 5px 16px;
//   border-bottom: 1px solid #e1e1e1;
}
.custom-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 48px;
  padding: 5px 11px;
//   border-top: 1px solid #e1e1e1;
  button {
    margin: 0 5px;
  }
}
.mat-dialog-container {
  padding: 0px !important;
  border-radius: 12px !important;
}
.mat-dialog-content {
  margin: 0 0 !important;
}
.success-btn {
  background-color: #2ecd71;
  color: #ffffff !important;
}

.success-btn:disabled {
  background-color: #d6d8dd !important;
}
.list {
  position: relative;
  display: flex;
  align-items: center;
  height: 46px;
  padding: 0 16px;
  border-bottom: 1px solid #e1e1e1;
  background-color: white;
  &:hover {
    background-color: #eeeeee;
    .actions {
      opacity: 1;
      transition-duration: 300ms;
      right: 5px;
    }
  }
  .actions {
    opacity: 0;
    position: absolute;
  }
}
.expansion-list {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  &:hover {
    .actions {
      opacity: 1;
      transition-duration: 300ms;
      // top: 5px;
      right: 25px;
    }
  }
  .actions {
    opacity: 0;
    position: absolute;
  }
}
._overflow-auto {
  overflow: auto;
}
._overflow-hidden {
  overflow: hidden;
}
._overflow-y-auto{
  overflow-y: auto;
}
._cursor-pointer {
  cursor: pointer;
}

// Scrollbar CSS :: Start
::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(37, 37, 37, 0.45);
}

._h-100 {
  height: 100% !important;
}
._h-30{
  height: 30px !important;
}

._w-100 {
  width: 100%;
}
._w-90 {
  width: 90%;
}
._w-80 {
  width: 80%;
}
._w-70 {
  width: 70%;
}
._w-60 {
  width: 60%;
}
._w-50 {
  width: 50%;
}
._w-45{
  width: 45%;
}
._w-40{
  width: 40%;
}
._w-30{
  width: 30%;
}
._w-25{
  width: 25%;
}
._w-10{
  width: 10%;
}
.card-container {
  border: 1px solid #e1e1e1;
  border-radius: 12px;
}
._first-head-col {
  flex: 0.4;
}
._pl-general {
  padding-left: 16px;
}
._ml-general {
  margin-left: 16px;
}
._ml-auto {
  margin-left: auto;
}
._padding-general {
  padding: 0 16px !important;
}

hr {
  border: 0;
  border-top: 1px solid #e1e1e1;
}
._active-link {
  // background-color: #eeeeee;
  color: #3f51b5;
}
// .mat-expansion-panel-header {
//   padding: 0 16px !important;
// }
.mat-tooltip {
  font-size: 11px;
  padding: 2px 3px !important;
}
._flex-wrap {
  flex-wrap: wrap;
}

._info-box {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 15px;
  // margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

._green-text {
  color: #28a745;
}

._red-text{
  color: #dc3545;
}

._blue-text{
  color: #17a2b8;
}

._gray-text{
  color: #6c757d;
}

._status-text{
  font-size: 11px;
}

._flex-column{
  display: flex;
  flex-direction: column;
}

._fw-500{
  font-weight: 500 !important;
}

._error-text{
  color: red;
  font-size: 11px;
}

._bgc-white{
  background-color: white !important;
}

._list-end-message{
  font-size: 12px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  height: 46px;
  padding: 0 16px;
  background-color: white;
}

._ai-start{
  align-items: flex-start;
}

._ai-stretch{
  align-items: stretch;
}

._error-status-text{
  font-size: 11px;
  color: #dc3545;
}
._font-14{
  font-size: 14px;
}

._text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._text-center{
  text-align: center;
}

._text-capitalize{
  text-transform: lowercase;
  &::first-letter{
    text-transform: capitalize;
  }
}

._text-italic{
  font-style: italic;
}

._d-block{
  display: block !important;
}

.debug{
  border: 1px solid red;
}