<p>animation works!</p>

<div>
  <label for="">Home page</label>
  <button  mat-stroked-button [routerLink]="'/home'" >Back</button>
</div>
<div>
  <label for="">Bounce-in - CSS-animation</label>
  <button  mat-stroked-button [routerLink]="'/animation/bounceIn'" >Bounce-in</button>
</div>
<div>
  <label for="">Bounce-Out - CSS-animation</label>
  <button  mat-stroked-button [routerLink]="'/animation/bounceOut'" >Bounce-Out</button>
</div>
<div>
  <label for="">Open-Close - Angular-animation</label>
  <button  mat-stroked-button [routerLink]="'/animation/openClose'" >Open-Close</button>
</div>