// @import '../../../assets/css/variables';

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
.visibility{
  background-image: url('../../../assets/icons/eye-svgrepo-com.svg');
  background-repeat: no-repeat;

}


  .artwork{
      background-image: url('../../../assets/images/undraw_forms_re_pkrt.svg');
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 43% 29%;
      background-position-x: 30%;
      background-position-y: 40%;
      opacity: 0.9;
      padding: 184px 278px;

  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }