<p>pagination works!</p>

<div>
  <label for="Home">Home Page</label>
  <button [routerLink]="'/home'" mat-stroked-button>Back</button>
</div>
<!-- paginationWithModule -->
<div>
  <label for="Home">without Pagination Module</label>
  <button [routerLink]="'/pagination/paginationWithoutModule'" mat-stroked-button>without Pagination Module</button>
</div>

<div>
  <label for="Home">with Pagination Module</label>
  <button [routerLink]="'/pagination/paginationWithModule'" mat-stroked-button>with Pagination Module</button>
</div>
