<p>sign-up works!</p>

<div>
  <p class="_green-text">if you are already user , Please  Sign In</p>
  <button  mat-stroked-button  [routerLink]="'/logIn'" >Back</button>
</div>


<div class="_flex-box">
    <div class="artwork _w-50"></div>

    
    <div class="_flex-box _w-30 ">
      <form #signUpForm="ngForm" [formGroup]="userInfoSignUp" (ngSubmit)="onSignUp()" >
        <div class="name _flex-box _jc-sb">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="FirstName" (keyup)="getConsoleFirstName()">
                <mat-error *ngIf="userInfoSignUp.get('FirstName')?.hasError('invalidContent')">
                    Please put valid First Name</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('FirstName')?.hasError('required')">
                    Please write First Name</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="LastName" >
                <mat-error *ngIf="userInfoSignUp.get('LastName')?.hasError('invalidContent')">
                    Please put valid Last Name</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('LastName')?.hasError('required')">
                    Please write First Name</mat-error>
            </mat-form-field>
        </div>
    
        <div class="main_component  _flex-box _jc-sb">
            <mat-form-field appearance="outline">
                <mat-label>Mobile No.</mat-label>
                <!-- <span matPrefix>+91 &nbsp;</span> -->
                <input matInput type="text" formControlName="MobileNumber" (keyup)="getConsoleMobileNumber()">
                <mat-error *ngIf="userInfoSignUp.get('MobileNumber')?.hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('MobileNumber')?.hasError('invalidContent')">write valid Mobile number</mat-error>
                <!-- <mat-error *ngIf="userInfoSignUp.get('MobileNumber')?.hasError('maxlength')">Mobile number should be 10 digits</mat-error> -->
                <mat-error *ngIf="userInfoSignUp.controls['MobileNumber'].errors">Mobile number should be 10 digits</mat-error>
                <!-- <mat-error *ngIf="userInfoSignUp.get('MobileNumber')?.hasError('pattern')">Mobile number should be valid and 10 digits</mat-error> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput type="email" formControlName="EmailId">
                <mat-error *ngIf="userInfoSignUp.get('EmailId')?.hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('EmailId')?.hasError('invalidContent')">write valid email id </mat-error>

            </mat-form-field>
        </div>
    
        <div class="password  _flex-box _jc-sb " formGroupName="Password">
            <mat-form-field appearance="outline" >
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="EnterPassword" >
                <mat-error *ngIf="userInfoSignUp.get('Password')?.get('EnterPassword')?.hasError('required')">This field is required.</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('Password')?.get('EnterPassword')?.hasError('invalidContent')">
                    At least 8 - 15 characters,
                    must contain at least 
                    1 uppercase letter,
                    1 lowercase letter,
                    and 1 number and any of this special characters $ % # * & - . 
                </mat-error>
                <!-- <p class="help-block" *ngIf="signUpForm.get('password').hasError('required') && signUpForm.get('password').touched">Debe ingresar una contraseña</p> -->
                <!--                                 
                <p class="help-block" *ngIf="signUpForm.get('confirmedPassword').hasError('required') && signUpForm.get('confirmedPassword').touched">Password must be required</p>
                <p class="help-block" *ngIf="signUpForm.get('confirmedPassword').hasError('passwordMismatch') && signUpForm.get('confirmedPassword').touched">password does not match</p>
                 -->
                    <mat-icon matSuffix fontIcon="home"></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password"  formControlName="ConfirmPassword">
                <mat-error *ngIf="userInfoSignUp.get('Password')?.get('ConfirmPassword')?.hasError('required')">This field is required.</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('Password')?.get('ConfirmPassword')?.hasError('invalidContent')"> Password does not match  </mat-error>
                <!-- <mat-error *ngIf="userInfoSignUp.get('Password')?.hasError('invalidContent')"> Password does not match  </mat-error> -->
                <!-- <mat-error *ngIf="userInfoSignUp.controls['Password'].get('EnterPassword')?.value==userInfoSignUp.controls['Password'].get('ConfirmPassword')?.value"> Password does not match  </mat-error> -->
                <!-- <mat-error *ngIf="userInfoSignUp.controls['Password'].invalidContent"> Password does not match  </mat-error> -->
                <!-- <mat-error *ngIf="userInfoSignUp.get('EmailId')?.hasError('invalidContent')">write valid email id </mat-error> -->

                <mat-icon matSuffix fontIcon="home"></mat-icon>
            </mat-form-field>
        </div>
    
        <button mat-stroked-button [disabled]="userInfoSignUp.invalid"> Create Your Account </button>
      </form>
    </div>
</div>


