<p>sign-up works!</p>

<div>
  <p class="_green-text">if you are already user , Please  Sign In</p>
  <button  mat-stroked-button  [routerLink]="'/logIn'" >Back</button>
</div>


<div class="_flex-box">
    <div class="artwork _w-50"></div>

    
    <div class="_flex-box _w-30 ">
      <form #signUpForm="ngForm" [formGroup]="userInfoSignUp" (ngSubmit)="onSignUp()" >
        <div class="name _flex-box _jc-sb">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstName">
                <mat-error *ngIf="userInfoSignUp.get('firstName')?.hasError('invalidContent')">
                    Please put valid First Name</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('firstName')?.hasError('required')">
                    Please write First Name</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName" >
                <mat-error *ngIf="userInfoSignUp.get('lastName')?.hasError('invalidContent')">
                    Please put valid Last Name</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('lastName')?.hasError('required')">
                    Please write First Name</mat-error>
            </mat-form-field>
        </div>
    
        <div class="main_component  _flex-box _jc-sb">
            <mat-form-field appearance="outline">
                <mat-label>Mobile No.</mat-label>
                <input matInput type="text" formControlName="mobileNumber" >
                <mat-error *ngIf="userInfoSignUp.get('mobileNumber')?.hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('mobileNumber')?.hasError('invalidContent')">write valid Mobile number</mat-error>
                <mat-error *ngIf="userInfoSignUp.controls['mobileNumber'].errors">Mobile number should be 10 digits</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput type="email" formControlName="emailId">
                <mat-error *ngIf="userInfoSignUp.get('emailId')?.hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('emailId')?.hasError('invalidContent')">write valid email id </mat-error>
            </mat-form-field>
        </div>
    
        <div class="password  _flex-box _jc-sb " >
            <mat-form-field appearance="outline" >
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="enterPassword" >
                <mat-error *ngIf="userInfoSignUp.get('enterPassword')?.hasError('required')">This field is required.</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('enterPassword')?.hasError('invalidContent')">
                    At least 8 - 15 characters,
                    must contain at least 
                    1 uppercase letter,
                    1 lowercase letter,
                    and 1 number and any of this special characters $ % # * & - . 
                </mat-error>
                    <mat-icon matSuffix fontIcon="home"></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password"  formControlName="confirmPassword">
                <mat-error *ngIf="userInfoSignUp.get('confirmPassword')?.hasError('required')">This field is required.</mat-error>
                <mat-error *ngIf="userInfoSignUp.get('confirmPassword')?.hasError('invalidContent')"> Password does not match  </mat-error>
                <mat-icon matSuffix fontIcon="home"></mat-icon>
            </mat-form-field>
        </div>
    
        <button mat-stroked-button [disabled]="userInfoSignUp.invalid"> Create Your Account </button>
      </form>
    </div>
</div>


